* {
  box-sizing: border-box;
}

@base-radius: 3px;

@margin:                 1em;
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 92.5%); // #eee
@white:                  #fff;

@green: #39cccc;
@red: rgb(202, 60, 60);
@orange: rgb(223, 117, 20);
@blue: #39cccc;
@purple: rgb(223, 117, 20);
body {}

.text-muted {
  color: @gray-light;
}

h1, h2, h3, h4, h5, p {
  margin: @margin 0px;
}

a {
  text-decoration: none;
  color: @gray-darker;
  &:hover {
    color: @gray-light;
  }
}

.pure-button {
  margin: @margin @margin/2;
}
.button-success,
.pure-button-primary,
.button-error,
.button-warning,
.button-secondary {
    box-shadow: 2px 2px 2px fade(@gray-light, 40%);
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: @green; /* this is a green */
}

.button-error {
    background: @red; /* this is a maroon */
}

.button-warning {
    background: @orange; /* this is an orange */
}

.button-secondary {
    background: @blue; /* this is a light blue */
}

.pure-button {
  margin: 1em 0em;
  &:hover {
    color: @white;
  }
  i {
    font-size: 1em;
  }
}
.mono {
  font-family: monospace;
  padding: @margin;
  background: @gray-lighter;
  border: 1px solid @gray-light;
  border-radius: @base-radius;
}

form {
  fieldset {
    .pure-u-1-1 {
      border-bottom: 1px solid @gray-lighter;
      margin: 0px 0px;
      padding: @margin 0px;
    }
  }

  label {
    // padding-left: @margin/2;
  }
}

.inline {
  display: inline-block !important;
}

.separated {
  border-top: 1px solid @gray-lighter;
}


.generic-success {
  margin: @margin 0px;
  text-align: left;
  span, p {
    padding: @margin;
    margin: 0px;
    color: @green;
  }
}

.floating-message {
  position: fixed;
  top: @margin * 4;
  right: @margin;
  background: fade(@gray-lighter, 70%);
  box-shadow: 0 6px 10px fade(@gray-light, 30%);
  p {
    // text-shadow:
    color: @white;
  }

}

.floating-message.generic-success {
  border-radius: @base-radius;
  // border: 1px solid fade(@gray, 70%);
  background: fade(@green, 60%);

}


.generic-error {
  border: 1px solid fade(@red, 30%);
  margin: @margin 0px;
  text-align: left;
  p {
    padding: @margin/2;
    color: @red;
  }
  padding: 0px @margin/2;
}

.field-errors {
  li {
    color: @red;
  }
}

ul {
  list-style-type: none;
  padding: 0px;
}

.content {
  padding: @margin;
}

.constrained {
  max-width: @margin * 30;
  margin: auto;
}

.heading {
  display: flex;
  h1, h2, h3, h4 {
    flex-grow: 1;
  }
}

.badge {
  padding: @margin/8 @margin/2;
  box-shadow: inset 1px 1px 4px @gray-light;
  border-radius: @base-radius;
  color: @white;
  margin: @margin/2;
}

.badge-get {
  background: @blue;
}
.badge-post {
  background: @green;
}
.badge-put {
  background: @orange;
}
.badge-delete {
  background: @red;
}
.badge-patch {
  background: @purple;
}

@menu-color: lighten(@blue, 5%);
.top-menu {
  width: 100%;
  background: @menu-color;
  box-shadow: 0px 1px 3px fade(@gray-light, 40%);
  position: relative;
  white-space: nowrap;
  display: flex;

  a {
    color: @white;
    line-height: @margin;
    display: inline;

    text-shadow: 1px 1px 2px darken(@blue, 5%);

    &:hover {
      text-shadow: 1px 1px 2px lighten(@blue, 25%);
    }
  }

  ul {
    margin: 0px;

    li {
      display: inline-block;
      padding: @margin * 1.5;

      &.active {
        border-bottom: 6px solid @white;
        a {
          text-shadow: 1px 1px 2px lighten(@menu-color, 15%);
        }
      }
    }
  }

  .title {
    font-size: @margin * 1.5;
    border-right: 1px solid darken(@menu-color, 10%);
    padding: @margin;
    max-width: 200px;
    width: 20%;
    flex: 1;
  }

  .actions {
    border-left: 1px solid lighten(@menu-color, 15%);
    border-right: 1px solid darken(@menu-color, 10%);
    flex-grow: 1;
    min-width: 200px;
  }

  .auths {
    border-left: 1px solid lighten(@menu-color, 15%);
    text-align: right;
  }
}

.keyvalue {
  display: block;
  .keyvalue-list {

  }
}

.explanation {
  display: flex;

  .hero {
    h1, h2, h3, h4, h5 {
      border-bottom: 1px solid @gray-lighter;
    }
  }
  .graphic {
    
  }
}
