.suite-progress, .summary, .statii {
  border-bottom: 1px solid @gray-lighter;
  display: flex;
  margin-bottom: @margin/2;
  padding-bottom: @margin/2;

  .toplevel {
    border-right: none;
    padding-right: @margin/2;
  }
  .stat {
    margin: 0px @margin/2 0px 0px;
    padding-left: @margin/2;
    border-left: 1px solid @gray-lighter;
  }
  .stat:first-of-type {
    border-left: none;
  }
}
.query-builder {
  font-size: 90%;
  .expr {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    padding: @margin;
    margin: @margin/4 0px;
    display: inline-block;

    .expr {
      margin: 0px;
      padding: 0px @margin/2;
    }

    &.infix {
      input {
        width: 400px;
        height: 2em;
      }

      .infix {
        padding: 0px 0px;
      }
    }
  }
  .expr.add-new-yam.yam-func {
    display: flex;
    align-items: center;
    border-left: 2px solid @green;
    .new-func {
      flex-grow: 1;
    }
  }
  .expr.yam-func {
    display: block;
    border-bottom: 1px solid @gray-lighter;
    border-top: 1px solid @gray-lighter;
    border-right: 1px solid @gray-lighter;
    border-left: 2px solid @gray;

    &:hover {
      background: @white;
    }
    &.editable {
      border-left: 2px solid @blue;

      .expr {
        &:hover {
          background: @gray-lighter;
        }
      }
    }
    &.frozen {
      .expr {
        &:hover {
          background: @white;
        }
      }
    }
    .remove {
      float: right;
    }
    .func-name {
      font-weight: bold;
    }
  }

  .check-result {
    .result {
      display: block;
      padding: @margin;
    }
    .error {
      border-left: 2px solid @red;
      color: @red;
    }
  }
}

@chart-height: 500px;
.charts {
  // display: none;
  height: @chart-height;
}