.suites {
  .suite {
    border-left: 4px solid @blue;
    padding: 0px @margin/2;
    &:hover {
      background: @gray-lighter;
    }
  }
}

.edit-trigger {
  input {
    display: inline-block !important;
    width: 80px;
  }
  select {
    display: inline-block;
    margin-top: 3px; //wtf??
  }
}


.edit-suite {
  .pure-control-group {
    label {
      text-align: left;
      width: @margin * 6;
    }

    select {
      width: @margin * 8;
    }

    input {
      width: @margin * 16;
    }
  }
  .request {
    border-left: 4px solid @orange;
    padding: @margin/2;
    margin: @margin/2 0px;
  }

  select.select-method {
    width: 6em;
  }
}