.suites {
  .suite {
    border-left: 4px solid @blue;
    padding: 0px @margin/2;
    &:hover {
      background: @gray-lighter;
    }
  }
}

.edit-trigger {
  margin-top: @margin/2;
  select {
  }
  select.select-method {
    width: 6em;
  }
}


.edit-suite {
  .pure-control-group {
    label {
      text-align: left;
    }

  }
  .request {
    border-left: 4px solid @orange;
    padding: 0px @margin/2;
  }



  .request {
    .request-body {
      textarea {
        width: 100%;
      }
    }
  }
}